.btn-green{
	background-color :#2ab27b;
}
.icon-btn {
	padding: 1px 15px 3px 2px!important;;
	border-radius: 50px!important;
}

.white-circle{
	width: 23px;
    height: 23px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 38px;
    top: -22px;
}

.text-btn{
	width: 50px;
	padding:2px 0px 0px 11px;
    color: white;
}


