<div class="modal-header" style="background: #f2f2f5;">
	<h3 class="modal-title">Edit channel purpose</h3>
</div>
<div class="modal-body">
	<p style="display: inline-block;margin-right: 30px;"><b>Purpose</b></p>
	<textarea class="form-control" ng-model="channel.description"
	style="width: 75%;"></textarea>
	<p class="comment-font">
		Give your channel a purpose that describes what it will be used for.
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="cancel()">
		<b>Cancel</b>
	</button>
	<button type="button" class="btn btn-success"  ng-click="updatePurpose(channel.description)"
	style="background: #48BA87;border-color:#48BA87;">
		<b>Update Purpose</b></button>
</div>